<h1>
    {{ (heroe.id) ? 'Editar' : 'Crear' }}
     héroe <small> {{ heroe.superhero }} </small>
</h1>

<mat-divider style="margin-bottom: 10px;"></mat-divider>

<main>
    <div fxLayout="row"
         fxLayoutGap="40px">
        
        <div fxFlex="50" fxLayout="column">
            
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex="50">
                    <mat-label>Nombre</mat-label>
                    <input matInput required
                            type="text" [(ngModel)]="heroe.superhero"
                            required>
                </mat-form-field>
                
                
                <mat-form-field fxFlex="50">
                    <mat-label>Alter ego</mat-label>
                    <input matInput required
                            type="text" [(ngModel)]="heroe.alter_ego">
                </mat-form-field>
            </div>
            
            <mat-form-field fxFlex="100">
                <mat-label>Characters</mat-label>
                <input matInput required
                        type="text" [(ngModel)]="heroe.characters">
            </mat-form-field>

            <div fxLayout="row" fxLayoutGap="20px">


                <mat-form-field fxFlex="50">
                    <mat-label>publisher</mat-label>
                    <mat-select required [(ngModel)]="heroe.publisher">
                        <mat-option *ngFor="let publisher of publishers"
                                     [value]="publisher.id">
                            {{ publisher.desc }}
                        </mat-option>
                    </mat-select>

                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <mat-label>First appearance</mat-label>
                    <input matInput required
                            type="text" [(ngModel)]="heroe.first_appearance">
                </mat-form-field>

            </div>
            
            <div>
                
                <mat-form-field fxFlex="100">
                    <mat-label>Url Imagen</mat-label>
                    <input matInput required
                            type="text"
                            [(ngModel)]="heroe.alt_image">
                </mat-form-field>

                
            </div>

            <button mat-raised-button color="warn" (click)="agregar()">
                <mat-icon>save</mat-icon>
                {{ (heroe.id) ? 'Actualizar' : 'Crear' }}
            </button>

            <span class="spacer"></span>

            <button *ngIf="heroe.id"
            mat-raised-button color="primary" 
                    (click)="eliminar()">
                <mat-icon>remove</mat-icon>
                Eliminar
            </button>

        </div>

        <div fxFlex="50">
            <img [src]="heroe|imagen">
        </div>

        </div>
</main>
