<h1>Error 404</h1>
<hr>

<h3>Auth Module</h3>
<ul>
    <li>
        <a routerLink="auth/login">ir al Login</a>
    </li>
    <li>
        <a routerLink="auth/regitro">ir al Registro</a>
    </li>
</ul>

<h3>Heroes Module Routes</h3>
<ul>
    <li>
        <a routerLink="heroes/listado">Listado</a>
    </li>
    <li>
        <a routerLink="heroes/buscar">buscar</a>
    </li>
    <li>
        <a routerLink="heroes/agregar">agregar</a>
    </li>
    <li>
        <a routerLink="heroes/editar/:id">editar</a>
    </li>
</ul>